*{
    margin:0;
    padding: 0;
    user-select: none;
}

h1, h2, h3, h4, h5, text, p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html{
    background-color:#33333A;
    overflow-x:hidden;
}


.PageHeader {
    height: 400px;
    margin-top:58px;
    background-image: url("https://img.ngfiles.com/page_banners/159000/banner-158338.png?1648318596");
    background-position: center;
    background-size:cover;
}
.HeaderMContent {
    padding-top: 80px;
    text-align:center;
}

#HeaderText{
    background-color:#fff;
    font-family: 'Bebas Neue';
    mix-blend-mode: screen;
    font-size: 12vw;
    transform:skewX(-7deg);
}

.InfoBar{
    background-color:#1e1e1eaa;
    position:fixed;
    width:100%;
    overflow: hidden;
    top: 0;
    z-index: 92104;
    box-shadow: 0 15px 30px black;
    backdrop-filter: blur(12px);
}
.InfoBarContent{
    display:flex;
    justify-content:center;
}
.InfoBarContent li{
    display:inline;
}
.InfoBarContent a{
    display:inline-block;
    cursor:pointer;
    padding: 8px 32px;
    background: #e25c5c;;
    text-shadow: 2px 2px #1e1e1e55;
    transform:skewX(-7deg);
    color:white;
    font-family:'Bebas Neue', cursive;
    font-weight:0;
    font-size:32px;
}
.InfoBarContent a:hover{
    background: #ffffff;
    color:#e25c5c;
    transition-duration:300ms;
}

.InfoCards{
    
}
.InfoBlock{
    width:90%;
    margin:24px auto;
    margin-bottom:48px;
}
.InfoBlockContent{
    background-color:white;
    box-shadow: 0 15px 30px black;
    width:90%;
    margin:0px auto;
    padding:24px;
}

/* .InfoBlockStripe1 {
    background-color:#2db2ff;
    width:12px;
    height:64px;
} */

.InfoBlock p{
    text-align:center;
    font-size:1.5em;
}
.InfoBlock h1{
    background-color:#e25c5c;
    text-align:left;
    font-family: 'Bebas Neue', cursive;
    font-weight:1;
    color:yellow;
    text-shadow: 4px 4px #1e1e1e55;
    transform:skewX(-7deg);
    font-size:3em;
    padding-left:16px;
    box-shadow: 0 2px 30px black;
}
.SocialButtonsContainer{
    display: flex;
    flex-direction:row;
    justify-content:center;
    gap: 15px;
}
.SocialButton{
    background-color:#33333A;
    color:white;
    font-size:3em;
    width:96px;
    padding: 20.3333px 0;
    text-align:center;
    transform:skewX(-7deg);
}
.SocialButton i{
    transform:skewX(7deg);
}

.SocialButton:hover{
    background-color:magenta;
    text-shadow: 4px 4px #1e1e1e55;
    box-shadow: 8px 8px aqua;
    transition-duration:250ms;
}
.SocialButton:active{
    background-color:yellow;
    color:black;
    text-shadow: none;
    box-shadow: none;
    transition-duration:250ms;
}
.WorkCards{
   margin:48px;
}
.WorksList img{
    width:400px;
    height:200px;
}