*{
    margin:0;
    padding: 0;
    user-select: none;
    image-rendering:initial;
}

/* h1, h2, h3, h4, h5, text, p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

ul{
    list-style-type:none;
}

body, html{
    background-color:#ffffff;
    background-image: url(/res/bggrid.png),linear-gradient(to bottom,black, rgb(0, 204, 255),rgb(223, 80, 134));
    background-blend-mode: hard-light, normal;
    background-repeat: repeat-x;
    background-size: auto;
    background-position-y: bottom;
    background-attachment:scroll,fixed;
}

body{
    margin:57px 0 0 0;
}


.PageHeader {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    margin-top:0px;
    /* background-image: url("https://img.ngfiles.com/page_banners/159000/banner-158338.png?1648318596");
    background-position: center;
    background-size:cover; */
}
.HeaderMContent {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    mix-blend-mode:screen;
    width:100%;
}


.HeaderText {
    font-family: 'Bebas Neue';
    color:#cacaca;
    
    /* background: url("https://img.ngfiles.com/page_banners/159000/banner-158338.png?1648318596");
    background-size:cover;
    background-position-x:center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000007e; */
    text-align:center;
    text-shadow: 4px 4px #929292;
    transform:skewX(-7deg);
}
#HTName{
    font-size: 8em;
}
#HTSub{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.InfoBar{
    background-color:#1e1e1eaa;
    position:fixed;
    width:100%;
    overflow: hidden;
    top: 0;
    z-index: 92104;
    box-shadow: 0 15px 30px black;
    backdrop-filter: blur(12px);
}
.InfoBarContent{
    display:flex;
    justify-content:center;
}
.InfoBarContent li{
    display:inline;
}
.InfoBarContent a{
    display:inline-block;
    cursor:pointer;
    padding: 8px 32px;
    background: #4ab7ff;
    text-shadow: 2px 2px #1e1e1e55;
    transform:skewX(-7deg);
    color:white;
    font-family:'Bebas Neue', cursive;
    font-weight:0;
    font-size:32px;
    text-decoration: none;
}
.InfoBarContent a:hover{
    background: #ffffff;
    color:#e25c5c;
    transition-duration:300ms;
}

.InfoCards{
    
}
.InfoBlock{
    width:75%;
    max-width:1000px;
    margin:24px auto;
    margin-bottom:48px;
}
.InfoBlockContent{
    background-color:white;
    box-shadow: 0 15px 30px black;
    width:90%;
    margin:0px auto;
    padding:24px;
}

/* .InfoBlockStripe1 {
    background-color:#2db2ff;
    width:12px;
    height:64px;
} */

.InfoBlock p{
    text-align:center;
    font-size:1.5em;
}
.InfoBlock h1{
    position:relative;
    top:10px;
    right:8px;
    background-color:#6554ff;
    text-align:left;
    width:fit-content;
    font-family: 'Bebas Neue', cursive;
    font-weight:1;
    color:yellow;
    text-shadow: 4px 4px #1e1e1e55;
    transform:skewX(-7deg);
    font-size:3em;
    padding:0 20px 0 16px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.432);
}
.SocialButtonsContainer{
    display: flex;
    flex-direction:row;
    justify-content:center;
    gap: 15px;
}
.SocialButton{
    background-color:#33333A;
    color:white;
    font-size:3em;
    width:96px;
    padding: 20.3333px 0;
    text-align:center;
    transform:skewX(-7deg);
    transition-duration:250ms;
}
.SocialButton i{
    transform:skewX(7deg);
}

.SocialButton:hover{
    transform:skewX(-7deg) translate(-4px, -4px);
    background-color:magenta;
    text-shadow: 4px 4px #1e1e1e55;
    box-shadow: 8px 8px aqua;
    transition-duration:250ms;
}
.SocialButton:active{
    background-color:yellow;
    color:black;
    text-shadow: none;
    box-shadow: none;
    transition-duration:250ms;
}

.WorkCardsContainer{
    margin:48px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 32px;
}

.WorkCard{
    display:block;
    background-color: #ddd;
    background-repeat:no-repeat;
    margin:8px;
    width: 400px;
    height: 200px;
    transition-duration:250ms;
}

.WorkCard:hover{
    box-shadow: 16px 16px black;
    transform:translate(-8px, -8px);
    transition-duration:250ms;
}

.FadeOverlay{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, 
                rgba(0,0,0,0) 50%,
                rgba(0,0,0,1) 75%
    );
}

.WorkCardContent h2, h3, li{
    font-family:'Bebas Neue', sans-serif;
    font-weight: 1;
    color:white;
    text-align:right;
}

.WorkCardContent h2{
    font-size: 2em;
}

.WorkCardContent{
    position:relative;
    left: 0px;
    bottom: 200px;
    padding:8px;
}


/* .WorkCards{
   margin:48px;
}
.WorksList{
    display:flex;
    flex-wrap:wrap;
    gap: 32px;
    list-style-type: none;
}
.WorksList li{
    width:600px;
    height: 200px;
    background-repeat:no-repeat;
    background-color: #000000;
    box-sizing: border-box;
    box-shadow: inset -450px -100px 50px -200px #000;
    border-style:solid;
    border-width:8px;
    border-color:#e25c5c;
}
.WorksList{
    color:white;
    font-family:'Bebas Neue', cursive;
    text-align:right;
    margin-right:10px;
}
.WorksList h2{
    font-size:3em;
    text-shadow: 4px 4px 0 purple;
    margin-bottom:-8px;
}
.WorksList h3{
    font-size:2em;
} */
.GalleryContainer{
    margin:32px auto;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}
.GalleryContainer img{
    margin:8px;
    height:300px;
    transition-duration:250ms;
}
.GalleryContainer img:hover{
    transform:translate(-4px,-4px);
    box-shadow: 8px 8px 0 black;
    transition-duration:250ms;
}