#WorkKamek{
    background-image:url('res/WORKamek.png');
}
#WorkKamek h2{
    text-shadow: 4px 4px purple;
}
#WorkRHS{
    background-image:url('res/WorkRHS.gif');
}
#WorkRHS h2{
    text-shadow: 4px 4px magenta;
}
#WorkMvL{
    background-image:url('res/WorkMvL.gif');
}
#WorkMvL h2{
    text-shadow: 4px 4px black;
}
#WorkTT{
    background-image:url('res/WORKTipTower.gif');
}
#WorkTT h2{
    text-shadow: 4px 4px #19a3ff;
}
#WorkSI{
    background-image:url('res/WorkSI.png');
    background-size:cover;
}
#WorkSI h2{
    text-shadow: 4px 4px #2e2320;
}
#WorkMystery{
    background-image:url('res/WorkMystery.png');
    background-size:cover;
}
#WorkMystery h2{
    text-shadow: 4px 4px #1b1b1b;
}